{% extends "layout.html" %}

{% block title %}
    Gambling Addiction Help
{% endblock %}

{% block main %}
<div class="directioncontainer">
    <h3>Resources</h3>
    <h6>Please access any resource listed below.</h6>
</div>

<hr>

<div class="directioncontainer">
    
    <p>The National Council on Problem Gambling has a <a href="https://www.ncpgambling.org/programs-resources/resources/">list</a> of resources for someone that is seeking help for their gambling addiction</p>

    <p>You can also seek help through <a href="http://www.gamblersanonymous.org/ga/content/about-us">Gamblers Anonymous</a></p>
</div>
{% endblock %}